.btn {
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}

.btn.primary {
  background-color: rgb(223, 89, 112);
  color: black;
}

.btn.secondary {
  background-color: rgb(100, 0, 128);
  color: white;
}

.btn.danger {
  background-color: rgb(230, 51, 51);
  color: white;
}