.input-form {
  background-color: #F5F5F5;
  padding: 1.5rem;
  border-radius: 8px;
  margin: 2rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.input-form input {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #CCC;
  border-radius: 5px;
}
